# Ignore everything
#*
AustinsMod/steam_workshop_uploader.log
AustinsMod/project.xml
AustinsMod/modfiles.txt

# But not these files...
#!*/inventory/**
#!*/effects/*
#!*/heroes/**
#!*/shared/**
#!*/campaign/**
#!*/austins_mod.xml


# ...even if they are in subdirectories
#!*/

